/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333;
  line-height: 1.5;
}

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  background-color: #46505c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

button:hover {
  background-color: rgb(27, 34, 34);
}

/* Form Section Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-panel, .right-panel {
  flex: 1;
  min-width: 300px;
}

.form-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-section_upload {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

select, input, button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.uploadDataButton {
  width: auto;
}

/* Status Display */
.output-section_status {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

/* Metrics and Reports */
.output-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.metrics-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 10px;
}

.metric-item {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 0.9em;
  white-space: nowrap;
}

/* Report Content */
.report-container h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.report-content {
  white-space: pre-wrap;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  overflow-x: auto;
}

/* Dropped Columns */
#droppedColumnsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.dropped-column-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropped-column-item input[type="checkbox"] {
  margin: 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.dropped-column-item label {
  margin: 0;
  line-height: 16px;
}

.dropped-column-item label.disabled {
  color: gray;
  cursor: not-allowed;
}

/* Charts */
.chart-container {
  text-align: center;
  margin-bottom: 20px;
}

.chart-container img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px auto;
}

.chart-container p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
